* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 93vh;
    width: 100%;
}

.containerPerfil {
    background-color: #D3D6CF;
    height: 93vh;
    width: 100%;
}

.paginaPerfil {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.conteudoPerfil {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 600px;
    background-image: url('./src/assets/images/QuadroPerfil.png');
    background-position: center;
    background-size: cover;
    flex-direction: column;
    gap: 70px;
    color: aliceblue;
    border-radius: 10px;
}

.imagemLogoPerfil {
    padding-bottom: 10px;
    width: 23vh;
}

.usernameTexto {
    width: 500px;
    color: aliceblue;
}

.textoPerfil {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    align-items: flex-start;
    width: 500px;
    gap: 20px;
}

.ImagemPerfil {
    display: flex;
    max-width: 70px;
    max-height: 100px;
    width: 150px;
    height: auto;
}
.TextoNomePerfil {
    color: rgb(255, 255, 255);
    
}
.TextoMoeda {
    color: rgb(255, 255, 255);
    font-size: 3vh;
}
.TextoDecks {
    color: rgb(255, 255, 255);
    font-size: 3vh;
}

